.header{
    background-color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;

}

#partyKong{
    max-width: 3%;
}

#main-table{
    margin: 5% 10% 10%;
    margin-bottom: 1px;
}

